In [9]:
print("hello world")

hello world

In [1]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [3]:
import os
os,dir

(<module 'os' (frozen)>, <function dir>)

In [4]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
my_testing = list(range(1, 11))
for number in my_testing:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for numbe in range(1, 11):
    print(numbe)

1
2
3
4
5
6
7
8
9
10

In [ ]:
numbers = list(range(1,101))
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for number in numbers:
    if number > 50:
        continue
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
for number in my_testing:
    if number < 5:
        continue
    print(number)

5
6
7
8
9
10

In [5]:
production_year = 1990
expired_year = 2024
while production_year<expired_year:
    print("Few years remaining to expire")
    production_year = production_year + 10

Few years remaining to expire
Few years remaining to expire
Few years remaining to expire
Few years remaining to expire

In [ ]:
x = 7
w = 0
while w < x:
    print("okay sir")
    w = w+1

okay sir
okay sir
okay sir
okay sir
okay sir
okay sir
okay sir

In [ ]:
import numpy as np
my_test = np.random.uniform(-1, 1, 25)
my_test = np.where(my_test < 0, 0, my_test)
print(my_test)

:

In [ ]:
def add():
    len = int(input("enter number"))
    sen = int(input("enter number"))
    print("The addition of", len, "and", sen, "=", len + sen)

def subtract(len, sen):
    print("The subtraction of", len, "and", sen, "=", len - sen)   

def multiply(len, sen):
    print("The multiplication of", len, "and", sen, "=", len * sen) 

def square(len):
    print("The sqaure of", len, "=", len ** 2) 

def cubes(len):
    print("The cubes of", len, "=", len ** 3) 

def area(len, sen):
    print("The area of rectangle", len, "and", sen, "=", len * sen,"cm") 

def areas(len):
    print("The area of circle with raduis", len, "=", 22/7 * len ** 2, "cm") 

add()

The addition of 2 and 1 = 3

In [ ]:
add(4, 3)

TypeError: add() takes 0 positional arguments but 2 were given

In [ ]:

subtract(10, 7)
multiply(4, 2)
square(25)
cubes(3)
area(3, 4)
areas(2)

The subtraction of 10 and 7 = 3
The multiplication of 4 and 2 = 8
The sqaure of 25 = 625
The cubes of 3 = 27
The area of rectangle 3 and 4 = 12 cm
The area of circle with raduis 2 = 12.571428571428571 cm

In [ ]:
Name = input("Enter your name")

In [ ]:
print(Name)

Oluwatobiloba

In [ ]:
Number = float(input("Enter a number"))
type(Number)
print(Number)

22.0

In [ ]:
p = ("what")
print(p)

what

In [1]:
def grading_system(a):



    if a > 100:
       return "Invalid scores"
    elif a >= 90:
       return "A"
    elif a >= 80:
       return "B"
    elif a >= 70 and a < 80:
       return "C"
    elif a >= 60 and a < 70:
       return "D"
    elif a >= 50 and a <60:
       return "E"
    else:
       return "F"
        

grading_system(78)

'C'

In [ ]:
def grading_system():
    a = int(input("enter scores"))



    if a > 100:
       return "Invalid scores"
    elif a >= 90:
       return "A"
    elif a >= 80:
       return "B"
    elif a >= 70 and a < 80:
       return "C"
    elif a >= 60 and a < 70:
       return "D"
    elif a >= 50 and a <60:
       return "E"
    else:
       return "F"
        

grading_system()

'F'

In [ ]:
grading_system()

'F'

In [ ]:
grading_system(800)

'Invalid scores'

In [ ]:
grading_system(45)

'F'

In [ ]:
def max(a, b, c):
    if a > b and a > c:
        print("The largest number is",a)
    elif b > a and b > c:
        print("The largest mumber is",b)
    else:
        print("The largest number is",c)


max(5, 10, 7)

The largest mumber is 10

In [2]:
def max():
    a = int(input("enter the number"))
    b = int(input("enter the number"))
    c = int(input("enter the number"))
    if a > b and a > c:
        print("The largest number is",a)
    elif b > a and b > c:
        print("The largest mumber is",b)
    else:
        print("The largest number is",c)


max()

The largest number is 9

In [ ]:
max(9,6,7)

9

In [ ]:
a = 7
b = 9
c = 6

if a > b and a > c:
    print("The largest number is",a)
elif b > a and b > c:
    print("The largest mumber is",b)
else:
    print("The largest number is",c)

The largest mumber is 9

In [ ]:
num = int(input("enter a number"))
if num % 2 == 0:
    print("The number is EVEN")
else:
    print("The number is ODD")

The number is EVEN

In [ ]:
num = int(input("enter a number"))
if num > 0:
    print("The number is POSITIVE")
elif num < 0:
    print("The number is NEGATIVE")
else:
    print("The number is ZERO")

The number is POSITIVE

In [ ]:
def me():
    num = int(input("number"))
    if num > 0:
        print("This is a positive number", num)
    elif num < 0:
        print("This is a negative number", num)
    else:
        print("This is zero", num)

me()

This is zero 0

In [ ]:
# age group

age = int(input("enter your age"))
if age > 60:
    print("SENIOR CITIZEN")
elif age >= 20 and age <=59:
    print("ADULT")
elif age >= 13 and age <= 19:
    print("TEENAGER")
else:
    print("CHILD")

TEENAGER

In [ ]:
def close():
    age = int(input("enter your age"))
    if age > 60:
        print("SENIOR CITIZEN")
    elif age >= 20 and age <=59:
        print("ADULT")
    elif age >= 13 and age <= 19:
        print("TEENAGER")
    else:
        print("CHILD")
close()

SENIOR CITIZEN

In [ ]:
# list class

fruit = ["apple","banana", "carrot",7, 8, 9, 5, "orange", 5 , 45]
fruit.append("cherry")
fruit.append(4,)

In [ ]:
print(fruit)
for frut in fruit:
    print(frut)

['apple', 'banana', 'carrot', 7, 8, 9, 5, 'orange', 5, 45, 'cherry', 4]
apple
banana
carrot
7
8
9
5
orange
5
45
cherry
4

In [ ]:
print(fruit[-3])

45

In [ ]:
fruits = []

In [ ]:
print(fruit[1:-2:2])

[4, 7, 'cucumber', 'orange', 45]

In [ ]:
print(fruit[1:4])

['banana', 5, 45]

In [ ]:
fruit[5]= "cucumber"
fruit[1] = 4

In [ ]:
print(fruit)

['apple', 4, 'carrot', 7, 8, 'cucumber', 5, 'orange', 5, 45, 'cherry', 4]

In [ ]:
len(fruit)

12

In [ ]:
fruit[1] = "banana"
print(fruit)

['apple', 'banana', 'carrot', 7, 8, 'cucumber', 5, 'orange', 5, 45, 'cherry', 4]

In [ ]:
fruit.pop(5)

'cucumber'

In [ ]:
len(fruit)

11

In [ ]:
print(fruit)

['apple', 'banana', 'carrot', 7, 8, 5, 'orange', 5, 45, 'cherry', 4]

In [ ]:
z = int(input())
for f in range(1,z):
    if f % 3 == 0 and f % 5 == 0:
        print("fizzbuzz")
    elif f % 3 == 0:
        print("fizz")
    elif f % 5 == 0:
        print("buzz")
    else:
        print(f)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz

In [14]:
num = [1,3,2,34,5,56,78,9,0,11,4,56,45,34,33,55,2,12,34,56,78,99,90,90,57,58,53]
for nums in num:
    print(nums **2)

1
9
4
1156
25
3136
6084
81
0
121
16
3136
2025
1156
1089
3025
4
144
1156
3136
6084
9801
8100
8100
3249
3364
2809

In [ ]:
fruits = []
fruit = []
for nums in num:
    if nums % 2 == 0:
        fruits.append(nums)
    else:
        fruit.append(nums)
print(fruits)
print(fruit)

[2, 34, 56, 78, 0, 4, 56, 34, 2, 12, 34, 56, 78, 90, 90, 58]
[1, 3, 5, 9, 11, 45, 33, 55, 99, 57, 53]

In [ ]:
numbers = []
for nums in range(1,101):
    numbers.append(nums)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [15]:
print(num)

[1, 3, 2, 34, 5, 56, 78, 9, 0, 11, 4, 56, 45, 34, 33, 55, 2, 12, 34, 56, 78, 99, 90, 90, 57, 58, 53]

In [16]:
num[2:10:3]

[2, 56, 0]

In [17]:
num[2] = 15

In [18]:
print(num)

[1, 3, 15, 34, 5, 56, 78, 9, 0, 11, 4, 56, 45, 34, 33, 55, 2, 12, 34, 56, 78, 99, 90, 90, 57, 58, 53]

In [ ]:
len(num)

27

In [ ]:
num.sort()

In [19]:
print(num)

[1, 3, 15, 34, 5, 56, 78, 9, 0, 11, 4, 56, 45, 34, 33, 55, 2, 12, 34, 56, 78, 99, 90, 90, 57, 58, 53]

In [23]:
set(num)

{0, 1, 2, 3, 4, 5, 9, 11, 12, 15, 33, 34, 45, 53, 55, 56, 57, 58, 78, 90, 99}

In [ ]:
def alphabet():
    letter = input("enter an alphabet")
    if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
        return "This is a vowel", letter
    else:
        return "This is a consonant", letter
    
alphabet()

('This is a vowel', 'u')

In [ ]:
alphabet()

('This is a consonant', 't')

In [ ]:
def temp_convert():

    temperature = int(input("enter your temperature"))
    degree = int(input("choose your temperature unit \n 1. celcius \n 2. fehrenheit"))
    if degree == 1:
        return temperature, "0'F to celcuis",  int((temperature - 32) * 5/9)
    elif degree == 2:
        return temperature, "0'C to fehrenheit", int((9/5 * temperature ) + 32)

In [ ]:
temp_convert()

(39, "0'F to celcuis", 3)

In [ ]:
def temp_convert(temperature):

    degree = int(input("choose your temperature unit \n 1. celcius \n 2. fehrenheit"))
    if degree == 1:
        print(temperature,"0'F to celcuis", "is", int((temperature - 32) * 5/9))
    elif degree == 2:
        print(temperature,"0'C to fehrenheit is", int((9/5 * temperature ) + 32))
    else:
        print("ïnvalid input, enter the correct input")

In [ ]:
temp_convert(11435)

11435 0'C to fehrenheit is 20615

In [ ]:
temp_convert(45)

45 0'C to fehrenheit is 113

In [ ]:
def temp_convert():
    temperature = int(input("enter your temperature"))

    degree = int(input("choose your temperature unit \n 1. celcius \n 2. fehrenheit"))
    if degree == 1:
        print(temperature,"0'F to celcuis", "is", int((temperature - 32) * 5/9))
    elif degree == 2:
        print(temperature,"0'C to fehrenheit is", int((9/5 * temperature ) + 32))
    else:
        print("ïnvalid input, enter the correct input")




temp_convert()

45 0'C to fehrenheit is 113

In [ ]:
ny = []
for b in range(1, 11):
        ny.append(b ** 2)

print(ny)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num = list(range(0,21))
for nu in num:
    if nu % 2 == 0:
        print(nu)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
num = []
for nu in range(0,21):
    if nu % 2 == 0:
        num.append(nu)
print(num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
word = ["ton","bum","you","set","der","for","but","del"]
len(word[4])
word[4] = "dare"
len(word[4])

4

In [7]:
print(word)

['ton', 'bum', 'you', 'set', 'dare', 'for', 'but', 'del']

In [ ]:
word.sort()
print(word)

['bum', 'but', 'dare', 'del', 'for', 'set', 'ton', 'you']

In [ ]:
number = []
for n in range(1, 51):
    if n % 3 == 0 and n % 5 == 0:
        number.append(n)
print(number)

[15, 30, 45]

In [ ]:
cap = []
for x in word:
    cap.append(x.upper())
print(cap)

['BUM', 'BUT', 'DARE', 'DEL', 'FOR', 'SET', 'TON', 'YOU']

In [8]:
for x in word:
    print(x.upper())

TON
BUM
YOU
SET
DARE
FOR
BUT
DEL

In [68]:
# INTRUCTION TO DICTIONARY
student = {"name":["john", "tope", "shade"], "age":"21", "course":["boilogy", "chemistry"]}

In [69]:
student

{'name': ['john', 'tope', 'shade'],
 'age': '21',
 'course': ['boilogy', 'chemistry']}

In [51]:
student["name"]

['john', 'tope', 'shade']

In [52]:
student["age"]

'21'

In [71]:
student["grade"] = "A"

In [54]:
student

{'name': ['john', 'tope', 'shade'],
 'age': '21',
 'course': ['boilogy', 'chemistry'],
 'grade': 'A'}

In [74]:
student["age"] = "22"

In [75]:
student

{'name': ['john', 'tope', 'shade'],
 'age': '22',
 'course': ['boilogy', 'chemistry'],
 'grade': 'A'}

In [19]:
inventory = {"apples":10, "orange":23, "pawpaw": 5}
inventory

{'apples': 10, 'orange': 23, 'pawpaw': 5}

In [20]:
inventory["apples"]

10

In [21]:
inventory.pop("pawpaw")
inventory

{'apples': 10, 'orange': 23}

In [22]:
inventory["mango"] = 6

In [24]:
inventory["grape"] = [56, 76]
inventory

{'apples': 10, 'orange': 23, 'mango': 6, 'grape': [56, 76]}

In [25]:
inventory.keys()

dict_keys(['apples', 'orange', 'mango', 'grape'])

In [26]:
inventory.values()

dict_values([10, 23, 6, [56, 76]])

In [55]:
classroom = {"student1":{"name":"alice","age":"20"},"student2":{"name":"benson", "age":"19"}}

In [56]:
classroom

{'student1': {'name': 'alice', 'age': '20'},
 'student2': {'name': 'benson', 'age': '19'}}

In [50]:
classroom["student2"]

{'age'}

In [57]:
"student3" in classroom

False

In [58]:
classroom["student3"] = {"name":"tomy", "age": 31}


classroom

{'student1': {'name': 'alice', 'age': '20'},
 'student2': {'name': 'benson', 'age': '19'},
 'student3': {'name': 'tomy', 'age': 31}}

In [59]:
classroom["student2"]

{'name': 'benson', 'age': '19'}

In [34]:
person = {
    "name":"dave", "city":"new york"
    }


print(person)
person

{'name': 'dave', 'city': 'new york'}

{'name': 'dave', 'city': 'new york'}

In [40]:

person["age"] = 30
person

{'name': 'dave', 'city': 'new york', 'age': 30}

In [41]:
"age" in person

True

In [10]:
# moving to pandas